{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="display-4">О нашей клинике</h1>
                <p class="lead">Мы - ваша современная клиника, где забота о вашем здоровье наш главный приоритет. Наша команда специалистов стремится обеспечить вас лучшим медицинским обслуживанием.</p>
                <p>Мы предоставляем широкий спектр медицинских услуг, включая консультации, диагностику, лечение и реабилитацию. Наша клиника оснащена современным оборудованием, что позволяет нам обеспечить точные диагнозы и эффективное лечение. Мы также активно исследуем новейшие методы лечения и следим за инновациями в медицинской сфере, чтобы предоставлять вам самые передовые и эффективные методы лечения.

Наша миссия - не просто лечить заболевания, но и содействовать вашему общему благополучию. Мы стремимся создать доверительные отношения с каждым пациентом, обеспечивая индивидуальный подход к вашим потребностям и оказывая поддержку на каждом этапе вашего пути к выздоровлению.

Наш коллектив постоянно совершенствуется и обучается, чтобы быть в курсе последних медицинских достижений и научных открытий. Мы уделяем особое внимание профессиональному развитию наших специалистов, чтобы обеспечить вам максимально качественное и эффективное медицинское обслуживание.</p>
            </div>
            <div class="col-md-6">
                <img src="http://www.freepngclipart.com/download/health/85957-and-physician-hebei-chinese-doctor-of-university.png" alt="Клиника" class="img-fluid rounded">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h2>Наши ценности</h2>
                <ul class="list-group">
                    <li class="list-group-item">Профессионализм: наши врачи - опытные специалисты, обеспечивающие высокий уровень медицинского обслуживания.</li>
                    <li class="list-group-item">Забота: мы гордимся нашим индивидуальным подходом к каждому пациенту и стараемся сделать их пребывание у нас комфортным и безопасным.</li>
                    <li class="list-group-item">Инновации: мы постоянно внедряем новые технологии и методы лечения, чтобы обеспечить лучшее лечение для наших пациентов.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Контактная информация</h2>
                <address>
                    <strong>Клиника "Здоровье"</strong><br>
                    ул. Платона - Кляты, 35<br>
                    Ростов-на-Дону, Россия<br>
                    <abbr title="Phone">Телефон:</abbr> +7 (XXX) XXX-XX-XX<br>
                    <abbr title="Email">Email:</abbr> info@clinic.com
                </address>
            </div>
        </div>
    </div>
{% endblock %}