{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <h1>Наши услуги</h1>
    <img src="https://static.tildacdn.com/tild3061-6364-4531-b564-626566636231/doctors-hands-holdin.png" alt="Клиника" class="img-fluid rounded">
     <div class="service">
        <h2>Консультации</h2>
        <p>Наши врачи проводят консультации по широкому спектру медицинских вопросов. От общих консультаций по общему состоянию здоровья до консультаций специалистов по узкой области медицины. Мы предоставляем индивидуальный подход к каждому пациенту, а наши врачи готовы ответить на все ваши вопросы и обеспечить вас необходимой информацией.</p>
        <p>Консультации в нашей клинике доступны как для пациентов с определенными симптомами, так и для тех, кто желает получить профилактические рекомендации по улучшению общего состояния здоровья. Мы стремимся помочь каждому пациенту найти оптимальное решение для его здоровья и благополучия.</p>
    </div>

    <div class="service">
        <h2>Диагностика</h2>
        <p>Наша клиника оснащена современным оборудованием для проведения точной и эффективной диагностики различных заболеваний. Мы предлагаем широкий спектр диагностических процедур, включая лабораторные анализы, образовательную диагностику, УЗИ, рентген и другие методы. Наши высококвалифицированные специалисты обеспечивают точные и надежные результаты, необходимые для дальнейшего лечения и реабилитации.</p>
        <p>При проведении диагностики мы стараемся сделать процесс максимально комфортным для пациентов и обеспечить им полное понимание результатов и дальнейших шагов.</p>
    </div>

    <div class="service">
        <h2>Лечение</h2>
        <p>Мы предлагаем комплексное лечение различных заболеваний с использованием современных методов и технологий. Наши врачи имеют богатый опыт работы и готовы предложить вам оптимальные методы лечения, направленные на ваше быстрое выздоровление. Мы учитываем индивидуальные особенности каждого пациента и разрабатываем персонализированный план лечения, обеспечивающий наилучшие результаты.</p>
        <p>Мы также предлагаем широкий выбор альтернативных методов лечения, таких как физиотерапия, массаж, акупунктура и другие. Наши специалисты всегда готовы обсудить с вами различные варианты лечения и помочь выбрать наиболее подходящий для вас.</p>
    </div>
{% endblock %}